<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1">
   <parameter name="myName" value="Aleksandra"/> 
      <test name="test1">
   
      <parameter name="myName" value="Spasoje"/> 
      <parameter name="myName" value="Aleksandra"/> 
      <parameter name="myName" value="Cvija"/> 
      
      <classes>
         <class name="ParameterizedTest1" />
      </classes>
      
   </test>
</suite>